.works {
	padding: calc(var(--space-lg) * 2);
	border-bottom: 1px solid var(--primary-dark);
}

.job {
	padding: calc(var(--space) * 2) 0;
	border-bottom: 1px solid var(--primary-dark);
	display: flex;
	flex-direction: column;
}

.job:last-child {
	border: none;
	padding-bottom: 0;
}

.head {
	text-align: center;
	font-size: var(--size-subtitle);
	text-transform: uppercase;
	color: var(--primary-lightest);
}

.company {
	font-size: var(--size-text);
	color: var(--primary-shine);
}

.label {
	color: var(--white-500);
}

.label,
.value {
	font-size: var(--size-caption);
}

@media print {
	.works {
		padding-top: 120px;
	}

	.job {
		display: flex;
	}

	.job > div {
		width: 100%;
		line-height: normal;
	}
}
