# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# default config
[*.{ts,tsx,astro,css}]
charset = utf-8

# default scripts style
[*.{ts,tsx,astro}]
indent_style = space
indent_size = 2

# default config
[*.css]
indent_style = tab
indent_size = 4

[{package.json, .eslintrc.json, tsconfig.json, astro.config.mjs, .stylelintrc.json}]
indent_style = space
indent_size = 2

