{
    "extends": [
        "stylelint-config-standard",
        "stylelint-config-html/html",
        "stylelint-config-html/xml",
        "stylelint-config-html/astro"
    ],
    "rules": {
        "media-feature-range-notation": null,
        "selector-class-pattern": [
            "([a-z])([A-Z])([a-z])|([a-z])([A-Z])|([a-z])",
            {
              "message": "Expected selector name to be camelCase"
            }
        ]
    }
}
