.container {
	width: var(--container-width);
	height: auto;
	display: block;
	box-sizing: border-box;
	margin: var(--zero) auto;
	padding: var(--zero);
	position: relative;
}


@media screen and (width <= 37.5em) {
	.container {
		width: var(--container-width-sm);
	}
}

@media print {
	.container {
		width: 96vw;
	}
}
