.converLetter {
	display: block;
}

.title {
	text-align: center;
	color: var(--white);
}

.content {
	display: flex;
	flex-direction: column;
	padding: calc(var(--space-lg)*2);
}

.paragraph {
	margin: var(--space-lg) 0;
}
