.about {
	--contact-size: 2.25rem;

	padding-top: calc(var(--space-lg) * 4);
	border-bottom: 1px solid;
	border-color: var(--primary);
	display: flex;
	flex-wrap: wrap;
}

.bio {
	padding: calc(var(--space-lg) * 2);
	flex-grow: 1;
	border-bottom: 1px solid;
	border-color: var(--primary);
}

.contacts {
	width: 50%;
	padding: calc(var(--space-lg) * 2);
	border-left: 1px solid;
	border-color: var(--primary-light);
}

.list {
	list-style: none;
}

.item {
	margin: var(--zero) var(--space);
}

.screen {
	text-decoration: none;
	color: var(--primary-light);
	padding: var(--space) var(--space-lg);
	border: 1px solid var(--primary-light);
	border-radius: var(--radius-lg);
	transition: 0.2s all ease;
	height: var(--contact-size);
	box-sizing: border-box;
}

.screen:hover {
	color: var(--primary-darkest);
	background: var(--primary-light);
	border-color: var(--primary-light);
}

.eductation {
	width: 50%;
	padding: calc(var(--space-lg) * 2);
}


@media screen {
	.list {
		padding: var(--zero);
		margin-top: calc(var(--space)*3);
		display: flex;
		flex-wrap: wrap;
	}

	.item {
		height: var(--contact-size);
		margin: var(--space-sm);
	}

	.list .item:first-child {
		margin-left: var(--zero);
	}

	.list .item:last-child {
		margin-right: var(--zero);
	}

	.print {
		display: none;
	}
}

@media print {
	.about {
		padding-top: calc(var(--space-lg) * 2);
	}	

	.list {
		padding: var(--zero);
	}

	.item strong::after {
		content: ': ';
	}
	
	.screen {
		display: none;
	}

	.contacts, .eductation {
		flex-grow: 1;
		border-right: var(--zero);
	}
}


@media screen and (width <= 37.5em) {
	.about {
		flex-direction: column;
	}

	.bio p,
	.eductation p {
		font-size: var(--size-caption);
	}
	
	.eductation {
		width: 100%;
	}
	
	.contacts {
		width: 100%;
	}

	.item {
		width: 100%;
		margin: calc(var(--space-sm) * 2) 0;
	}

	.screen {
		display: block;
		width: 100%;
		border-radius: 0;
	}

}
