.about {
	/* padding: calc(var(--space-lg) * 2); */
	padding-top: calc(var(--space-lg) * 4);
<<<<<<< Updated upstream
=======
	border-bottom: 1px solid;
	border-color: var(--primary);
	display: flex;
	flex-wrap: wrap;
>>>>>>> Stashed changes
}

.bio {
	padding: calc(var(--space-lg) * 2);
	flex-grow: 1;
	border-bottom: 1px solid;
	border-color: var(--primary);
}

.contacts {
	width: 50%;
	padding: calc(var(--space-lg) * 2);
	border-right: 1px solid;
	border-color: var(--primary);
}

.list {
	list-style: none;
	padding: 0;
	margin-top: calc(var(--space)*2);
	display: flex;
}

.item {
	margin: 0 var(--space-lg);
}

.list .item:first-child {
	margin-left: 0;
}

.list .item:last-child {
	margin-right: 0;
}

.print {
	
}

.screen {
	text-decoration: none;
	color: var(--primary);
	padding: var(--space) var(--space-lg);
	border: 1px solid var(--primary);
	border-radius: var(--radius-lg);
	transition: 0.2s all ease;
}

.screen:hover {
	color: var(--primary-dark);
	background: var(--primary-light);
	border-color: var(--primary-light);
}

.eductation {
	width: 50%;
	padding: calc(var(--space-lg) * 2);
}


@media screen {
	.print {
		display: none;
	}

}

@media print {
	.about {
		flex-direction: column;
	}

	.screen {
		display: none;
	}

	.contacts, .eductation {
		flex-grow: 1;
		border-right: 0;
	}
}
