.softSkills {
	--badge-pad: 0.3rem 0.6rem;

	padding: calc(var(--space-lg) * 2);
	display: flex;
	flex-wrap: wrap;
}

.title {
	font-size: var(--size-text);
	text-transform: uppercase;
	margin-bottom: var(--space);
	color: var(--white);
}

.badgetList {
	list-style: none;
	padding: var(--zero);
	display: flex;
	flex-wrap: wrap;
	margin: var(--zero);
}

.badgetItem {
	padding: var(--badge-pad);
	border: 1px solid var(--primary-shine);
	margin-right: var(--space);
	margin-bottom: var(--space);
	border-radius: var(--radius-lg);
	font-size: var(--size-min);
color: var(--primary-shine);
}

.languages {
	margin-bottom: calc(var(--space-lg) * 2);
	flex-grow: 1;
	width: 100%;
}

.lang {
	margin-bottom: var(--space) var(--zero);;
}

.lang * {
	font-size: var(--size-caption);
	color: var(--white-600);
}

.merits {
	padding-right: calc(var(--space-lg) * 2);
}

.merits,
.hobies {
	max-width: 50%;
}

@media screen and (max-width: 37.49em) {
	.merits,
	.hobies {
		max-width: 100%;
		margin-bottom: calc(var(--space-lg) * 2);
	}
}
