

.header {
	--height: 3rem;
	--height-bg: 7rem;
	--height-full: calc(var(--height) + var(--height-bg));
	--picture-size: 10rem;
	--content-z: 99;

	margin-top: calc(var(--space-lg) / 2);
	height: var(--height-full);
}

.background {
	background-color: var(--glass);
    background-image: var(--gradient-grid-10);
	background-size: 10px 10px;
	height: calc(var(--height-bg) + 0.6rem);
	border-radius: var(--radius-lg);
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.content {
	border-bottom: 0;
	border-top-left-radius: var(--radius-lg);
	border-top-right-radius: var(--radius-lg);
	height: var(--height);
	padding-top: var(--height-bg);
	position: relative;
	z-index: var(--content-z);
}

.picture {
	height: var(--picture-size);
	width: var(--picture-size); 
	overflow: hidden;
	display: flex;
    justify-content: center;
    align-items: center;
	padding: calc(var(--space-lg) / 2);
	line-height: 0;
	position: absolute;
	left: calc(50% - (var(--picture-size) / 2));
	bottom: calc((var(--picture-size) / 2) * -1);
	border-radius: 50%;
}

.picture img {
	border-radius: 50%;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.info {
	display: flex;
	justify-content: space-between;
	width: 100%;
	box-sizing: border-box;
	padding: var(--space-lg) calc(var(--space-lg) * 2);
	border-top: 1px solid;
	border-color: var(--primary);
}

.name, .employ {
	color: var(--primary-light);
}

@media screen and (width <= 52em) {
	.header {
		--picture-size: 7rem;
	}

	.name, .employ {
		max-width: 40%;
		font-size: var(--size-subtitle);
	}
}


@media screen and (width <= 37.5em) {
	.header {
		--height: 6rem;
		--height-bg: 5rem;
		--picture-size: 8rem;
	}

	.picture {
		bottom: calc((var(--picture-size) / 2.5)* -1);
	}

	.info {
		display: flex;
		flex-direction: column;
		padding-top: calc((var(--picture-size) / 2) + var(--space));
	}
	
	.name, .employ {
		margin: var(--space-sm) 0;
		text-align: center;
		color: var(--gray-600);
	}

	.name {
		font-size: var(--size-button);
	}

	.employ {
		text-transform: uppercase;
		font-size: var(--size-caption);
		color: var(--gray-500);
	}
}

@media print {
	.header {
		--height: 1.5rem;
		--height-bg: 4rem;
		--height-full: calc(var(--height) + var(--height-bg));
		--picture-size: 6rem;
		--content-z: 99;
	}

	.name {
		font-size: var(--size-subtitle);
	}

	.employ {
		text-transform: uppercase;
		font-size: var(--size-text);
	}
}
