---
import backgroundImage  from '../assets/wallpaper-discord.jpeg';
import { Template } from '../components/template'
import '../theme.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<style define:vars={{ backgroundImage: `url(${backgroundImage.src})` }}>
		:root {
      --background-image: var(--backgroundImage);
    }
	</style>
	<body>
		<Template>
			<slot />
		</Template>
	</body>
</html>
