---
import { App } from '../components/app'
import { ui, getLang } from '../i18n';
import '../theme.css';

const lang = getLang()
---

<html>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <meta property="og:title" content="Serodio Developer">
    <meta property="og:image" content="/favicon.svg">
    <meta property="og:description" content="I am a skilled software developer proficient in both back-end and DevOps, with a particular expertise and excellence in front-end development.">
    <meta property="og:url" content="https://serodio.dev">
    <meta name="twitter:card" content="summary_large_image">
		<title>Serodio - Software Engineer</title>
	</head>
	<body>
		<App messages={ui[lang]} >
			<slot />
		</App>
	</body>
</html>
