---
import backgroundImage  from '../assets/wallpaper-discord.jpeg';
import { App } from '../components/app'
import { ui, defaultLang } from '../i18n';
import '../theme.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<style define:vars={{ backgroundImage: `url(${backgroundImage.src})` }}>
		:root {
      --background-image: var(--backgroundImage);
    }
	</style>
	<body>
		<App messages={ui[defaultLang]} >
			<slot />
		</App>
	</body>
</html>
